<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Current Reading:</h1>
        <h3><b>Download:</b> <%= results[0].download %> / <b>Upload:</b> <%= results[0].upload %> </h3>
        <hr>

        <form method="post" action="/filter-reports"> 
			   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

Usage
					<script type="text/javascript">
					 $(function () {
					  $(".flatpickr").flatpickr({
					    enableTime: true
					  });
					});
				   </script>  
             		 
			   <br/>  
			   Start <input id="start" name="start" class="flatpickr">
			   End <input id="end" name="end" class="flatpickr">

			     <input type="submit" value="Go"/>
			    

			</form>

        <hr>
        <p>Last 20 Readings</p>
         <% results.forEach(function(result) { %>
           <li><%= result.date %>/ <b>Upload:</b> <%= result.upload %>/ <b>Download:</b> <%= result.download %></li>
         <% }); %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>