<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div>
        <div class="row">
          <div class="col-md-6">
            <h2>Current Reading:</h2>
            
          </div> 
          <div class="col-md-6">
          <% if(!(results[0].download)) { %> 
              <h1>OUTAGE - Internet Down</h1>
          <% } else{ %>
               <h3><b>Download:</b> <%= results[0].download %> / <b>Upload:</b> <%= results[0].upload %></h3>
              <h5><%= results[0].date %> </h5>
          <% }  %>

 
              
          </div> 
        </div> 
        <hr>

        <form method="post" action="/filter-reports"> 
			   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
               <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 
					<script type="text/javascript">
					 $(function () {
					  $(".flatpickr").flatpickr({
					    enableTime: false
					  });
					});
				   </script>  
             		 
			   <br/>  
			   Start <input id="start" name="start" class="flatpickr">
			   End <input id="end" name="end" class="flatpickr">

			     <input type="submit" value="Go" class="btn btn-primary btn-md"/>
			    

			</form>

        <hr>
        <p>Last 20 Readings</p>
         <table class="table">
         <tr>
          <th scope="col">Date</th> 
          <th scope="col">Upload</th> 
          <th scope="col">Download</th> 
         </tr>
         <% results.forEach(function(result) { %>
         <tr>
           <td><%= result.date %></td>
           <td> <%= result.upload %></td>
           <td> <%= result.download %></td>
         </tr>
         <% }); %>
         </table>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>